<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844965005712-o2kgn8m1lspi13c6ef40oc032krsosvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844965005712-o2kgn8m1lspi13c6ef40oc032krsosvf</string>
	<key>API_KEY</key>
	<string>AIzaSyAnIKinWyyUsvwfHql5mhv8O3tiaF9QwRo</string>
	<key>GCM_SENDER_ID</key>
	<string>844965005712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bravesoft.SampleGitHubActions</string>
	<key>PROJECT_ID</key>
	<string>sample-github-actions-73e16</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-github-actions-73e16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844965005712:ios:271f317188e248b3078b15</string>
</dict>
</plist>